# Supabase Config
SB_SECRET="Supabase Secret"
SB_URL="Supabase Url"
SB_DB_PASS="Supabase Database Password"

# Mail Config
GMAIL_USER="Full Gmail: abc@gmail.com"
GMAIL_PASS="App Password From Gmail"
DKIM_KEY_SELECTOR="DKIM Selector Of Domain"
DKIM_PRIVATE_KEY="Private Key Of That Selector"

# Telegram Bot Config
TG_BOT_TOKEN="Telegram Bot Token"
TG_ADMIN_CID="Chat ID Of Admin"