# Global Config
RELEASE_HOOK=""
GITHUB_TOKN=""
GITHUB_USER=""
GITHUB_REPO=""
APP_NAME=""


# Supabase Config
SB_SECRET=""
SB_URL=""
SB_DB_PASS=""


# Mail Config
SMTP_HOST=""
SMTP_PORT=""
SMTP_FROM=""
SMTP_USER=""
SMTP_PASS=""
MAIL_REPLYTO=""


# Notification - Telegram Bot
TG_HOOK_SCRT=""
TG_BOT_TOKEN=""
TG_ADMIN_CID=""


# Firebase Config
FB_PRIVATE_KEY=""
FB_CLIENT_EMAIL=""
FB_PROJECT_ID=""