# Global Config
APP_NAME=""


# Supabase Config
SB_SECRET=""
SB_URL=""
SB_DB_PASS=""


# Mail Config
SMTP_HOST=""
SMTP_PORT=""
SMTP_FROM=""
SMTP_USER=""
SMTP_PASS=""
MAIL_REPLYTO=""


# Notification - Telegram Bot
TG_BOT_TOKEN=""
TG_ADMIN_CID=""