*, *::before, *::after {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  font-family: "Monospace";
  box-sizing: border-box;
  user-select: none;
  padding: 0;
  margin: 0;
}
html.native-app, html.native-app body { touch-action: manipulation; }
/* html.native-app input,
html.native-app select,
html.native-app textarea {
  font-size: 16px !important;
} */